h1 {
    font-family: 'Nerko One', cursive;
   text-decoration-color:blue;
   font-size: 100%;
}
p {
    font-family: 'Caveat', cursive;
}
body {
    background-color:cyan;
    
}
#camera{
    width: 350px;
    height: 300px;
    border:dashed;
}